.Resume {
    color: var(--dark);
    padding: 8rem;
    width: 100%;
    text-align: center;
    background-color: var(--light);
}

.doc {
    width: 100%;
}

.phone {
    display: none;
}

@media (max-width: 600px) {
    .Resume {
        padding: 8rem 0;
    }
    .doc {
        display: none;
    }
    .phone {
        display: block;
        margin: auto;
    }
}