.Navbar {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    height: 6.7rem;
    z-index: 200;
}

.MenuBtn {
    color: var(--light);
    display: none;
    background-color: var(--purple);
    padding: 1rem 1.5rem;
    border-radius: 50%;
    font-size: 1.8rem;
    cursor: pointer;
}

@media(max-width: 740px) {
    .Navbar {
        padding: 0 1rem;
        width: 100vw;
    }
    .List {
        display: none;
    }
    .MenuBtn {
        display: block;
    }
}