.Navbar {
    background-color: transparent;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    height: 6.7rem;
}