.Contact {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
}

.Form {
    background-color: var(--light);
    background-image: linear-gradient(rgb(245, 245, 245, .8), rgb(245, 245, 245, .8)), url('../../assets/img/contact.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.Form h2 {
    font-size: 2.8rem;
    color: var(--light-purple);
}

.Form form {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.Form form input, .Form form textarea {
    padding: .5rem;
    margin: 2rem 1rem;
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid var(--purple);
    font-family: inherit;
    font-size: 1.8rem;
}

.Form button {
    width: fit-content;
    margin: auto;
    padding: .5rem 4rem;
    border-radius: 4px;
    font-size: 1.8rem;
    border: 1px solid var(--light-purple);
    outline: none;
    background-color: var(--purple);
    color: var(--light);
    cursor: pointer;
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.8);
    transition: all 250ms ease;
}

.Form button:hover {
    box-shadow: 0 .4rem 1.3rem rgba(0, 0, 0, 0.6);
    transform: translateY(-.8rem);
}

.Form button:active {
    box-shadow: 0 .3rem .8rem rgba(0, 0, 0, 0.7);
    transform: translateY(-.2rem);
}

.Info {
    background-image: linear-gradient(to top left, var(--purple), var(--light-purple));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.Info h2 {
    color: var(--yellow);
    font-size: 4rem;
    margin-bottom: 5rem;
}

.Info p {
    font-size: 2rem;
    padding: 1rem;
    color: var(--light);
}

@media(max-width: 500px) {
    .Info {
        display: none;
    }
}